extends layout
block content
    div.row
        button#Toggle-form
            i.fa.fa-align-justify
        div#Form.col-sm-3(style="display:")
            h1 FORM
            table(class="table table-hover")
                tbody
                    tr.row
                        td.col-sm-4(class="form-label") Tên Thiết bị:
                        td.col-sm-8
                            input#Name.form-input(name="Name")
                    tr.row
                        td.col-sm-4.form-label Trạng thái:
                        td.col-sm-8
                            input#Status.form-input(name="Status")
                    tr.row
                        td.col-sm-4.form-label Tên chủng loại:
                        td.col-sm-8
                            select#CategoryName.form-input(name="CategoryName")
            hr
            div.form-group.form-button
                button#ADD(class="btn btn-primary" onclick="javascript:uploadData()") ADD
                button#Search(class="btn btn-secondary" onclick="javascript:searchData()") SEARCH
            hr
            div.form-group.form-button
                button#Previous(class="btn btn-dark" onclick="javascript:previous()") <<<
                button#Next(class="btn btn-dark" onclick="javascript:next()") >>>

        div#Data.col
            h1 DATA
            table.table
                thead
                    tr.d-flex.col-md-12.row
                        th.col-md-2 Tên thiết bị
                        th.col-md-4 Trạng thái
                        th.col-md-3 Tên chủng loại
                        th.col-md-3 Thao tác
                tbody#Data-row
    #myModal.modal
        .modal-dialog.modal-lg
            .modal-content
                // Modal Header
                .modal-header
                    h4#modal-title.modal-title
                    button.close(type='button' data-dismiss='modal') &times;
                // Modal body
                .modal-body
                    table.table
                        thead
                            tr.d-flex.col-md-12.row
                                th.col-md-7 Hàm hiệu chỉnh
                                th.col-md-2 Level hiệu chỉnh
                                th.col-md-2 Date
                                th.col-md-1
                        tbody#Calibrate-data
                    div.row
                        input.col-7(name="CalibrateFunction" class="modal-input" id="modal-CalibrateFunction" placeholder="CalibrateFunction")
                        input.col-1(name="QualityFlag" class="modal-input" id="modal-QualityFlag" placeholder="QualityFlag")
                        input.col-2(name="CalibrateDate" class="modal-input" id="modal-CalibrateDate" placeholder="CalibrateDate")
                        button.col-1.btn.btn-primary(type='button' onclick="javascript:addCalibrateFunction()") ADD
                .modal-footer
                    button.btn.btn-danger(type='button' data-dismiss='modal') Close
    script.
        var data = !{JSON.stringify(data)};
    script(src="/javascript/device.js")




