extends layout
block content
    div.row
        button#Toggle-form
            i.fa.fa-align-justify
        div#Form.col-sm-3(style="display:none")
            h1 FORM
            table(class="table table-hover")
                tbody
                    tr.row
                        td.col-sm-4(class="form-label") FAirKitID:
                        td.col-sm-8
                            input#FAirKitID.form-input(name="FAirKitID")
                    tr.row
                        td.col-sm-4.form-label ListDevice:
                        td.col-sm-8
                            input#ListDevice.form-input(name="ListDevice")
                    tr.row
                        td.col-sm-4.form-label Status:
                        td.col-sm-8
                            input#Status.form-input(name="Status")
            hr
            div.form-group.form-button
                button#ADD(class="btn btn-primary" onclick="javascript:uploadData()") ADD
                button#Search(class="btn btn-secondary" onclick="javascript:searchData()") SEARCH
            hr
            div.form-group.form-button
                button#Previous(class="btn btn-dark" onclick="javascript:previous()") <<<
                button#Next(class="btn btn-dark" onclick="javascript:next()") >>>

        div#Data.col
            h1 DATA
            table.table
                thead
                    tr.d-flex.col-md-12.row
                        th.col-md-3 FAirKitID
                        th.col-md-3 ListDevice
                        th.col-md-3 Status
                        th.col-md-3 Action
                tbody#Data-row
    script.
        var fairkitData = !{JSON.stringify(fairkitData)};
    script(src="/javascript/fairkit.js")




